.header {
  display: flex;
  width: 100%;
  height: 74px;
  max-width: 880px;
  border-bottom: 1px solid #555;
  margin: auto;
  flex-wrap: wrap;
}

.header__logo {
  width: 126px;
  height: auto;
  margin: 0;
 
}

@media screen and (max-width: 320px) {

  .header {
    width: 320px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 27px 28px 84px ;
  }
}

