.profile {
  width: 96%;
  display: flex;
  max-width: 880px;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
  margin: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile__avatar {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;

}
  

.profile__info {
  width: 415px;
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
 
}

.profile__info-container {
  width: 415px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 14px;
}

.profile__name {
  width: 373px;
  height: 39px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__job {
  width: 415px;
  height: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (min-width: 600px) {
  .porfile {
    width: 95%;
  }
  .profile__info {
    align-items: flex-start;
    width: 50%;
  }

  .profile__name {
    font-size: 1.7em;
  }

  .profile__job {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 750px) {

  .profile__info {
    width: 58%;
  }

  .profile__info-container {
    width: 100%;
  }

  .profile__name {
    font-size: 2.6em;
  }

  .profile__job {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 880px) {

  .profile__avatar {
    margin: 0 1.8em 0 0;
  }

}